*{
  margin: 0;
}
.inputField {
  /* Скрыть стрелочки для типа "number" */
  -moz-appearance: textfield;
  appearance: textfield;
  /* Скрываем кнопки управления для типа "number" в Chrome */
  ::-webkit-outer-spin-button,
  ::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
  }
  /* Скрываем кнопки управления для типа "number" в Firefox */
  [type=number] {
      -moz-appearance: textfield;
  }
}




